h1 {
    color: #82A360;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 25px;
    padding-right: 0px;
    background-color: #6eff33;
    font-size: 20px;
    margin-top: 20px;
}

img {
    height: 200px;
}

nav {
    border-color: black;
    border-bottom: 2px solid;
    padding: 16px;
    background-color: red;
}

nav > a{
    color: white;
}

nav a, u{
    text-decoration: none;
}

h3 a, u{
    text-decoration: none;
}

h3 > a:hover {
    color: #6EFF33;
}

#nav a:hover {
    color: #6eff33;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(auto-fit);
    border: 2px solid black;
}

.grid-item{
    text-align: center;
    border: 1px solid black;
    transition: 1s;
}

.grid-item:hover{
    background-color: #5526B9;
}

.table tr:nth-child(even){
    background-color: #73766F;
}

.table{
    border: 3px solid black;
}
